<h2 class="mat-h2">Edit</h2>
@if (form) {
  <form [formGroup]="form" class="book-edit-screen" (ngSubmit)="save()">
    <label for="title">Title</label
    ><input required minlength="1" formControlName="title" type="text" id="title" name="title" />
    <label for="subtitle">Subtitle</label
    ><input required formControlName="subtitle" type="text" id="subtitle" name="subtitle" />
    <label for="abstract">Abstract</label
    ><textarea formControlName="abstract" required type="text" id="abstract" name="abstract" rows="15"></textarea>

    <button class="m-top" (click)="form.reset()"><span></span>Reset</button>
    <button [disabled]="!form.valid" type="submit" class="m-top"><span>💾</span>Save</button>
  </form>
}
